/* CSS Custom Properties */
:root {
  --white: #FFFFFF;
  --light: #ccddd5;
  --tan-2: #85de96;
  --highlight: rgb(107, 179, 132);
  --mint: #b6eec1;
  --darkteal: #0ca789;
  --text-light: #454444;
  --text-dark: #201f1f;
  --bg-dark-rgb: #ccddd5;
  margin-top: 170px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.landinglogo {
  width: 150px;
  height: 150px;
  margin: 60px;
}

ul {
  list-style: none;
}

ul li {
  margin-bottom: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(61, 52, 52);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--mint) !important;
  padding: 2vmin;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



nav {
  font-family: 'Itim', cursive;
  font-size: 3vmin;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  /* Horizontally align items */
  align-items: center;
  /* Vertically center items */
  background-color: var(--darkteal);
  /* Set the background color */
  color: white;
  /* Set text color */
  position: fixed;
  z-index: 100;
  /* Ensure the navbar is above other elements */
  top: 0;
}



/* Style for the navbar links */
nav a {
  color: var(--lightteal);
  /* Set the link color */
  text-decoration: none;
  /* Remove underlines from links */
  margin: 0 10px;
  /* Add spacing between links */
}

/* Style for the navbar logo */
nav .navLogo {
  width: 60px;
  height: 60px;
}

/* Style for the Log Out link */
nav #LogOut {
  margin-left: auto;
  /* Push Log Out link to the right */
}


#root {
  height: 100%;
}

a{
color: var(--darkteal) !important;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--light);
  color: var(--text-dark);
  border: .1vmin solid var(--highlight);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

/* .form-container {
  padding: 3vmin;
  background-color: var(--light);
  border: .1vmin solid var(--highlight);
  border-radius: 1vmin;
} */

p.error-message {
  color: var(--darkteal);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--highlight);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--darkteal);
}

button, a.button, .btn, btn-primary {
  margin: 2vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--darkteal) !important;
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .2vmin solid orange !important;
  border-radius: .5vmin !important;
  outline: none;
  cursor: pointer;
}

button.logIn {
  font-size: 2vmin;
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--mint);
}

button[type="submit"] {
  grid-column: 2;
  margin: 1vmin 0 0;
  align-content: center;
  padding: .6vmin .8vmin;
}

footer {
  padding: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: 'Itim', cursive;
  color: rgb(203, 255, 228);
  text-align: center;
  font-size: 10vmin;
}


img {
  width: 200px;
  height: 200px;

}

